.p1 {
    text-align: justify;
    color: green;
    background-color: rgb(255, 255, 255);
}

.p2 {
    text-align: justify;
    color: blue;
    background-color: aqua;
}
.p3 {
    text-align: justify;
    color: red;
    background-color: white;
}

.centrar_texto{
    text-align: center;
}

.nav_gatos{
    color: black;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    margin: 1%;
    top: 0%;
    transform: translateY(-50%);
    float: right;
    padding-right: 10px;
    border-style: groove;
    border-radius: 10px;
    border-color: cadetblue;
    background-color: cadetblue;
}

.bar {
    position: absolute;
    background-color: aquamarine;
    height: 70px;
    top: 0px;
    left: 0px;
    right: 0px;
}



 